pre { line-height: 125%; white-space: pre; overflow: auto}
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.code_content .hll { background-color: #49483e }
.code_content { background: #272822; color: #f8f8f2 }
.code_content .c { color: #75715e } /* Comment */
.code_content .err { color: #960050; background-color: #1e0010 } /* Error */
.code_content .esc { color: #f8f8f2 } /* Escape */
.code_content .g { color: #f8f8f2 } /* Generic */
.code_content .k { color: #66d9ef } /* Keyword */
.code_content .l { color: #ae81ff } /* Literal */
.code_content .n { color: #f8f8f2 } /* Name */
.code_content .o { color: #f92672 } /* Operator */
.code_content .x { color: #f8f8f2 } /* Other */
.code_content .p { color: #f8f8f2 } /* Punctuation */
.code_content .ch { color: #75715e } /* Comment.Hashbang */
.code_content .cm { color: #75715e } /* Comment.Multiline */
.code_content .cp { color: #75715e } /* Comment.Preproc */
.code_content .cpf { color: #75715e } /* Comment.PreprocFile */
.code_content .c1 { color: #75715e } /* Comment.Single */
.code_content .cs { color: #75715e } /* Comment.Special */
.code_content .gd { color: #f92672 } /* Generic.Deleted */
.code_content .ge { color: #f8f8f2; font-style: italic } /* Generic.Emph */
.code_content .gr { color: #f8f8f2 } /* Generic.Error */
.code_content .gh { color: #f8f8f2 } /* Generic.Heading */
.code_content .gi { color: #a6e22e } /* Generic.Inserted */
.code_content .go { color: #66d9ef } /* Generic.Output */
.code_content .gp { color: #f92672; font-weight: bold } /* Generic.Prompt */
.code_content .gs { color: #f8f8f2; font-weight: bold } /* Generic.Strong */
.code_content .gu { color: #75715e } /* Generic.Subheading */
.code_content .gt { color: #f8f8f2 } /* Generic.Traceback */
.code_content .kc { color: #66d9ef } /* Keyword.Constant */
.code_content .kd { color: #66d9ef } /* Keyword.Declaration */
.code_content .kn { color: #f92672 } /* Keyword.Namespace */
.code_content .kp { color: #66d9ef } /* Keyword.Pseudo */
.code_content .kr { color: #66d9ef } /* Keyword.Reserved */
.code_content .kt { color: #66d9ef } /* Keyword.Type */
.code_content .ld { color: #e6db74 } /* Literal.Date */
.code_content .m { color: #ae81ff } /* Literal.Number */
.code_content .s { color: #e6db74 } /* Literal.String */
.code_content .na { color: #a6e22e } /* Name.Attribute */
.code_content .nb { color: #f8f8f2 } /* Name.Builtin */
.code_content .nc { color: #a6e22e } /* Name.Class */
.code_content .no { color: #66d9ef } /* Name.Constant */
.code_content .nd { color: #a6e22e } /* Name.Decorator */
.code_content .ni { color: #f8f8f2 } /* Name.Entity */
.code_content .ne { color: #a6e22e } /* Name.Exception */
.code_content .nf { color: #a6e22e } /* Name.Function */
.code_content .nl { color: #f8f8f2 } /* Name.Label */
.code_content .nn { color: #f8f8f2 } /* Name.Namespace */
.code_content .nx { color: #a6e22e } /* Name.Other */
.code_content .py { color: #f8f8f2 } /* Name.Property */
.code_content .nt { color: #f92672 } /* Name.Tag */
.code_content .nv { color: #f8f8f2 } /* Name.Variable */
.code_content .ow { color: #f92672 } /* Operator.Word */
.code_content .pm { color: #f8f8f2 } /* Punctuation.Marker */
.code_content .w { color: #f8f8f2 } /* Text.Whitespace */
.code_content .mb { color: #ae81ff } /* Literal.Number.Bin */
.code_content .mf { color: #ae81ff } /* Literal.Number.Float */
.code_content .mh { color: #ae81ff } /* Literal.Number.Hex */
.code_content .mi { color: #ae81ff } /* Literal.Number.Integer */
.code_content .mo { color: #ae81ff } /* Literal.Number.Oct */
.code_content .sa { color: #e6db74 } /* Literal.String.Affix */
.code_content .sb { color: #e6db74 } /* Literal.String.Backtick */
.code_content .sc { color: #e6db74 } /* Literal.String.Char */
.code_content .dl { color: #e6db74 } /* Literal.String.Delimiter */
.code_content .sd { color: #e6db74 } /* Literal.String.Doc */
.code_content .s2 { color: #e6db74 } /* Literal.String.Double */
.code_content .se { color: #ae81ff } /* Literal.String.Escape */
.code_content .sh { color: #e6db74 } /* Literal.String.Heredoc */
.code_content .si { color: #e6db74 } /* Literal.String.Interpol */
.code_content .sx { color: #e6db74 } /* Literal.String.Other */
.code_content .sr { color: #e6db74 } /* Literal.String.Regex */
.code_content .s1 { color: #e6db74 } /* Literal.String.Single */
.code_content .ss { color: #e6db74 } /* Literal.String.Symbol */
.code_content .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.code_content .fm { color: #a6e22e } /* Name.Function.Magic */
.code_content .vc { color: #f8f8f2 } /* Name.Variable.Class */
.code_content .vg { color: #f8f8f2 } /* Name.Variable.Global */
.code_content .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.code_content .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.code_content .il { color: #ae81ff } /* Literal.Number.Integer.Long */
